/*
	Helpers
*/

/*
Clearfix
*/
.u_clearfix {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}









/*
List reset
The common task of zeroing out a list
*/
.u_list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}









/*
Visibility hidden
Accessiblity-friendlier way to hide text from h5b
*/
.u_visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}









.u_cover-object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.u_v-centred {
	top: 50%;
	transform: translateY(-50%);

	&--abs {
		position: absolute;
	}
	&--rel {
		position: relative;
	}
}

.u_h-centred {
	left: 50%;
	transform: translateX(-50%);

	&--abs {
		position: absolute;
	}
	&--rel {
		position: relative;
	}
}

.u_hv-centred {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform: translate3d(-50%, -50%, 0);

	&--abs {
		position: absolute;
	}
	&--rel {
		position: relative;
	}
}









.u_block {
	display: block;
}

.u_no-dec {
	text-decoration: none;
}
