{% import '_core/_macros/general' as core %}
{% import '_macros/general' as macros %}

{% set defaultBreakpoints = {
	"bear" : (1041 / 16) ~ "em",
	"wolf" : (801 / 16) ~ "em",
	"fox" : (601 / 16) ~ "em",
	"rabbit" : (481 / 16) ~ "em",
	"mouse" : 0
} %}

{% set defaultFontStylesheet = '//fast.fonts.net/cssapi/179e93ca-85f2-4a1c-ae75-9ea81061c629.css' %}
{% set defaultFonts = ['Beton W01', 'ITC Franklin Gothic W01'] %}
{% set defaultStylesheets = {
	'mainStyles' : '/assets/css/main.css',
	'fontStyles' : defaultFontStylesheet
} %}

{% set isHomepage = (entry is defined ? entry.section.isHomepage() : false) %}
{% set thisPage = (entry is defined ? craft.entries.section('navigation').slug(entry.slug).first() : false) %}

{% if not craft.request.isAjax %}

	{% include '_partials/structure/header' %}
	{% include '_partials/header' %}

    <section class="page-wrapper js-page-wrapper">
	       <main>

{% endif %}

{% block content %}
{% endblock %}

{% if not craft.request.isAjax %}

        	</main>
		{% include '_partials/footer' %}
		{% include '_partials/structure/footer' %}
    </section>

{% endif %}
