/vendor
/web/cpresources
license.key

templates/_snippets/css/
templates/_snippets/js/
templates/_snippets/svg/
templates/_partials/favicons.html

web/assets/

node_modules

/.env
/.idea
.DS_Store
.htaccess
web.config
craft
craft.bat
