{% set image = image ?? null %}
{% set alt = alt ?? image.title ?? '' %}
{% set lazyLoad = lazyLoad ?? true %}
{% set srcAttr = lazyLoad ? 'data-srcset' : 'srcset' %}
{% set type = type ?? 'fluid' %}

{% set breakpoints = breakpoints ?? defaultBreakpoints %}

{% set pictureClass = pictureClass ?? '' %}
{% set pictureClass = pictureClass ~ ' image--' ~ type %}
{% set pictureClass = pictureClass|trim %}

{% set imgClass = imgClass ?? null %}

{% set placeholderColor = placeholderColor ?? defaultPlaceholderColor %}

{% if image %}
	<picture class="{{ pictureClass }}">{% spaceless %}
		<!--[if IE 9]><video style="display: none;"><![endif]-->

		{# loop through the image's alternativeImages field, if it exists, and
		create a map of {breakpoint:image}. This is how you specify art-directed
		images for different breakpoints. #}
		{% set imageMap = [] %}
		{% set currentImage = image %}
		{% set altImages = image['alternativeImages'] ?? [] %}
		{% for key,value in breakpoints %}
			{% for altImage in altImages %}
				{% if altImage.context.value == key %}
					{% set currentImage = altImage.image.first() ?? currentImage %}
				{% endif %}
			{% endfor %}
			{% set map = {(''~key) : currentImage} %}
			{% set imageMap = imageMap|merge(map) %}
		{% endfor %}

		{# loop through the breakpoints and use the correct image as defined
		above in the imageMap #}
		{% for key,value in breakpoints %}
			{% set image = imageMap[key] ?? image %}

			{% set thisTransform = craft.JsonTransforms.getTransform(transform, key) %}
			{% set width = image.getWidth(thisTransform) %}
			{% set height = image.getHeight(thisTransform) %}

			<source
			{{ srcAttr }}="{{ craft.imager.transformImage(image, thisTransform) }}"
			{% if lazyLoad %}srcset="{{ craft.imager.base64Pixel(width, height, placeholderColor) }}"{% endif %}
			media="(min-width: {{ value }})">
		{% endfor %}

		<!--[if IE 9]></video><![endif]-->
		<img {{ srcAttr }}="{{ core.getTransform(image, transform, 'mouse') }}" src="" alt="{{ alt }}" class="{% if lazyLoad %}js-lazyLoad{% endif %}{% if imgClass %} {{ imgClass }}{% endif %}">
	{% endspaceless %}</picture>
	{% if lazyLoad %}<span class="u_visuallyhidden" href="{{ image.getUrl() }}"></span>{% endif %}
{% endif %}
