/*
    Variables
*/

/*
Structure
*/
$width-page: 1440px;









/*
Breakpoints
*/
$breakpoints: (
  'bear': $width-page / 16px * 1em,
  'wolf': 1040px / 16px * 1em,
  'fox': 800px / 16px * 1em,
  'rabbit': 600px / 16px * 1em,
  'mouse': 480px / 16px * 1em
);









/*
Misc
*/
$transition-duration: 0.1s;
$transition-easing: ease-in-out;
$base-font-size: 16;
