<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ craft.config.locales[craft.locale].languageCode }}" class="no-webfonts">
	<head>

		{% block meta %}
			{% if seo is not defined %}
				<h1>Site SEO stuff isn't done.</h1>
				<ol>
					<li>Make a new asset source for images called Images with path "{basePath}uploads/img/" and url "{baseUrl}uploads/img/"</li>
					<li>Make a plain text field called "Default SEO Description" (defaultSeoDescription). Give it a max length of 160 characters.</li>
					<li>Make an asset field called "Default SEO Image" (defaultSeoImage).</li>
					<li>Make a matrix field called "Social" (social). Give it plain text fields of "Twitter Handle" (twitterHandle) and Facebook ID (facebookId). Set max blocks to 1.</li>
					<li>Make a matrix field called "Geo". Give it plain text fields of "Latitude", "Longitude", "Placename", and "Region". Max blocks 1.</li>
					<li>Make a Global Set called "SEO" (seo).</li>
					<li>Add those fields to the "SEO" global set.</li>
				</ol>
				{% exit %}
			{% endif %}

			{% set page = entry ?? category ?? null %}
			{% if page %}

				{% if page['seo'] is not defined %}
					<h1>Page SEO stuff isn't done.</h1>
					<ol>
						<li>Make a Matrix field called "SEO". Max Blocks 1.</li>
						<li>Give it a plain text field called "Page Title"</li>
						<li>Give it a plain text field called "Description". Give it a max length of 160 characters.</li>
						<li>Give it an asset field called "Image".</li>
						<li>Put that field on EVERYTHING.</li>
					</ol>
					{% exit %}
				{% endif %}

				{% set pageSEO = null %}
				{% if page.seo is not empty %}
					{% set pageSEO = page.seo.first() %}
				{% endif %}

				{% include '_partials/structure/meta' with {
					'title' : isHomepage ? (pageSEO.pageTitle ?? null) : (pageSEO.pageTitle ?? page.title ?? null),
					'description' : pageSEO.description ?? null,
					'url' : page.url,
					'image' : pageSEO.image.first() ?? page.leadImage.first() ?? null
				} %}

			{% else %}
				{% include '_partials/structure/meta' %}
			{% endif %}
		{% endblock %}

		{% include '_partials/snippets/favicons' ignore missing %}

		{#
		Inline main styles if <=16kb.
		Otherwise include criticalcss and defer loading of main styles.
		#}
		{% set inlineStyles = stylesheets[0].path|filesize <= (16 * 1024) %}
		{% if inlineStyles %}
			<style>{% include '_partials/snippets/main.css' ignore missing %}</style>
		{% else %}
			<style id="js_critical-css">
				svg { opacity: 0; }
				{% include ['_partials/snippets/' ~ (entry is defined ? entry.slug : 'critical') ~ '.css', '_partials/snippets/critical.css'] ignore missing %}
			</style>
		{% endif %}

		{% for sheet in stylesheets %}
			{% if not (loop.first and inlineStyles) %}
				<link rel="preload" href="{{ sheet.path|refreshString }}" as="style" onload="this.onload=null;this.rel='stylesheet';{% if sheet.callback %}{{ sheet.callback }}(this);{% endif %}">
				<noscript><link rel="stylesheet" href="{{ sheet.path }}"></noscript>
			{% endif %}
		{% endfor %}

	</head>
	<body>
