{# === parameters === #}

{# the image you want to display from the CMS. So something like entry.leadImage.one() #}
{% set image = image ?? null %}

{# the key of the transform you want to use, specified in templates/transforms.json #}
{% set transform = transform ?? null %}

{# alt text, if different from the image title. #}
{% set alt = alt ?? image.title ?? '' %}

{# whether or not you want to lazy load the image. Uses the JS plugin lazysizes. #}
{% set lazyLoad = lazyLoad ?? true %}

{# basically a class to throw in. In the form image--{type} #}
{% set type = type ?? 'fluid' %}

{# whether you want to generate retina images or not. #}
{% set retina = retina ?? false %}

{# any additional classes you need adding to the <picture> element. #}
{% set pictureClass = pictureClass ?? '' %}

{# any additional classes you need adding to the <img> element. #}
{% set imgClass = imgClass ?? null %}

{# === /parameters === #}


{# === calculated settings === #}

{# if we're lazyloading, we need to set the srcset as a data attribute instead. #}
{% set srcAttr = lazyLoad ? 'data-srcset' : 'srcset' %}

{# if we want retina, set what retina sizes we want according to the pixelRatios #}
{% set pixelRatios = retina ? (pixelRatios ?? defaultPixelRatios) : [1] %}

{# determine what breakpoints we're generating images for #}
{% set breakpoints = breakpoints ?? defaultBreakpoints %}

{# add the image type class to the picture element. #}
{% set pictureClass = pictureClass ~ ' image--' ~ type %}
{% set pictureClass = pictureClass|trim %}

{# determine the placeholder colour for the image while it's loading. #}
{% set placeholderColor = placeholderColor ?? defaultPlaceholderColor %}

{# === /calculated settings === #}


{# === misc === #}
{% set originalImage = image %}
{# === /misc === #}

{% if image %}

	<picture class="{{ pictureClass }}">{% spaceless %}
		<!--[if IE 9]><video style="display: none;"><![endif]-->

		{# loop through the image's alternativeImages field, if it exists, and
		create a map of {breakpoint:image}. This is how you specify art-directed
		images for different breakpoints. #}
		{% set imageMap = [] %}
		{% set currentImage = image %}
		{% set altImages = image['alternativeImages'] ?? [] %}
		{% for key,value in breakpoints %}
			{% for altImage in altImages %}
				{% if altImage.context.value == key %}
					{% set currentImage = altImage.image.one() ?? currentImage %}
				{% endif %}
			{% endfor %}
			{% set map = {(''~key) : currentImage} %}
			{% set imageMap = imageMap|merge(map) %}
		{% endfor %}

		{# loop through the breakpoints and use the correct image as defined
		above in the imageMap #}
		{% for key,value in breakpoints %}
			{% set image = imageMap[key] ?? image %}

			{% set thisTransform = craft.jsonTransformsModule.getTransform(transform, key) %}
			{% set width = image.getWidth(thisTransform) %}
			{% set height = image.getHeight(thisTransform) %}

			{% set formats = craft.imager.serverSupportsWebp() ? ['webp', '_default'] : ['_default'] %}
			{% for f in formats %}
				{% set overrides = (f != '_default') ? { 'format' : f } : null %}
				<source
				{{ srcAttr }}="{% spaceless %}
					{% for pixelRatio in pixelRatios|sort|reverse %}
						{% set thisPRTransform = craft.jsonTransformsModule.getTransform(transform, key, pixelRatio) %}
						{{ craft.imager.transformImage(image, thisPRTransform, overrides) }}{% if pixelRatio != 1 %} {{ pixelRatio }}x{% endif %}{% if not loop.last %}, {% endif %}
					{% endfor %}"{% endspaceless %}

				{% if lazyLoad %}srcset="{{ craft.imager.base64Pixel(width, height, placeholderColor) }}"{% endif %}
				media="(min-width: {{ value }})"{% if f != '_default' %} type="image/{{ f }}"{% endif %}>
			{% endfor %}

		{% endfor %}

		<!--[if IE 9]></video><![endif]-->

		{% set fallbackTransform = craft.jsonTransformsModule.getTransform(transform, 'mouse') %}
		<img {{ srcAttr }}="{{ craft.imager.transformImage(originalImage, fallbackTransform) }}" src="" alt="{{ alt }}" class="{% if lazyLoad %}js-lazyLoad{% endif %}{% if imgClass %} {{ imgClass }}{% endif %}">
	{% endspaceless %}</picture>
	{% if lazyLoad %}<span class="u_visuallyhidden" href="{{ image.getUrl() }}"></span>{% endif %}
{% endif %}
