{#
Allows js to easily identify which breakpoint we're on.
#}
<span class="u_visuallyhidden which-breakpoint"></span>

<script>
	{% include '_snippets/js/cssrelpreload.js' %}
	{% include '_snippets/js/fontfaceobserver.js' %}
</script>

{#
Callbacks for when CSS is loaded.
#}
<script>

	// if we've already got the fonts cached, skip the Promise bit.
	if (sessionStorage.foutFontsLoaded) {
		onFontsLoaded();
	}

	function onMainCssLoad() {
		// once the main css is loaded ...

		// ... remove the critical css to avoid conflicts.
		var criticalCssElement = document.getElementById("js_critical-css");
		criticalCssElement.parentNode.removeChild(criticalCssElement);
	};

	function onFontsCssLoad() {
		// once the font css is loaded ...

		// ... create an fontfaceobserver for each one ...
		{% for font in fonts %}
			var observer{{ loop.index }} = new FontFaceObserver("{{ font }}");
		{% endfor %}

		// ... and when all the fonts are loaded ...
		Promise.all([{% for i in 1..fonts|length %}observer{{ i }}.load(){% if not loop.last %}, {% endif %}{% endfor %}]).then(function () {
			onFontsLoaded();
		});
	}

	function onFontsLoaded() {
		// once the fonts are loaded ...

		if (!document.documentElement.classList.contains('webfonts-loaded')) {

			// ... swap the HTML class ...
			document.documentElement.className = document.documentElement.className.replace( /(?:^|\s)no-webfonts(?!\S)/g , '' );
			document.documentElement.className += " webfonts-loaded";

			// ... and let the session know we've got the fonts.
			sessionStorage.foutFontsLoaded = true;
		}
	}
</script>

{% for sheet in stylesheets %}
	{% if not (loop.first and inlineStyles) %}
		<link rel="preload" href="{{ sheet.path|refreshString }}" as="style" onload="this.onload=null;this.rel='stylesheet';{% if sheet.callback %}{{ sheet.callback }}(this);{% endif %}">
		<noscript><link rel="stylesheet" href="{{ sheet.path }}"></noscript>
	{% endif %}
{% endfor %}

{#
Non-blocking, order-preserving method of loading Javascript files, from
http://www.html5rocks.com/en/tutorials/speed/script-loading/
#}
<script>
	!function(e,t,r){function n(){for(;d[0]&&"loaded"==d[0][f];)c=d.shift(),c[o]=!i.parentNode.insertBefore(c,i)}for(var s,a,c,d=[],i=e.scripts[0],o="onreadystatechange",f="readyState";s=r.shift();)a=e.createElement(t),"async"in i?(a.async=!1,e.head.appendChild(a)):i[f]?(d.push(a),a[o]=n):e.write("<"+t+' src="'+s+'" defer></'+t+">"),a.src=s}(document,"script",[
	"{{ '/assets/js/main.js'|refreshString }}"{% spaceless %}
	{% if (pageJsFiles is defined) and (pageJsFiles is not empty) %},
		{% for file in pageJsFiles %}
			"/assets/js/{{ file }}"{% if not loop.last %}, {% endif %}
		{% endfor %}
	{% endif %}
	{% endspaceless %}])
</script>

{#
Google Anaytics tracking.
#}
{% if craft.app.config.general.trackUsers %}
	{% include '_snippets/tracking-code' %}
{% endif %}

</body>
</html>
