<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ craft.app.language }}" class="no-webfonts">
	<head>

		{% block meta %}
			{% if seo is not defined %}
				<p>Go over to <a href="/admin/settings/plugins" target="_blank">Admin > Plugins</a> and install Architect.</p>
				<p>Then go to the <a href="/admin/architect/import" target="_blank">import page</a> and import in the contents of init.json (in the project root).</p>
				<p>Then come back here and refresh.</p>
				{% exit %}
			{% endif %}

			{% set page = entry ?? category ?? null %}
			{% if page %}

				{% set pageSEO = null %}
				{% if page.seo is not empty %}
					{% set pageSEO = page.seo.one() %}
				{% endif %}

				{% include '_partials/structure/meta' with {
					'title' : isHomepage ? (pageSEO.pageTitle ?? null) : (pageSEO.pageTitle ?? page.title ?? null),
					'description' : pageSEO.description ?? null,
					'url' : page.url,
					'image' : pageSEO.image.one() ?? page.leadImage.one() ?? null
				} %}

			{% else %}
				{% include '_partials/structure/meta' %}
			{% endif %}
		{% endblock %}

		{% include '_snippets/favicons' ignore missing %}

		{#
		Inline main styles if <=16kb.
		Otherwise include criticalcss and defer loading of main styles.
		#}
		{% if inlineStyles %}
			<style>{% include '_partials/snippets/main.css' ignore missing %}</style>
		{% else %}
			<style id="js_critical-css">
				{% include ['_partials/snippets/' ~ (entry is defined ? entry.slug : 'critical') ~ '.css', '_partials/snippets/critical.css'] ignore missing %}
			</style>
		{% endif %}

	</head>
	<body>
