{# === parameters === #}
{% set title = title ?? null %}
{% set description = description ?? seo.defaultSeoDescription ?? null %}
{% set url = url ?? siteUrl %}
{% set image = image ?? seo.defaultSeoImage.one() ?? null %}
{% set type = type ?? 'website' %}

{% set twitterHandle = seo.social.one().twitterHandle ?? null %}
{% set facebookId = seo.social.one().facebookId ?? null %}
{% set geo = seo.geo.one() %}
{# === /parameters === #}

{# === calculated settings === #}
{% set fullTitle = (title ? title ~ ' - ' : '') ~ siteName %}

{% set seoGoogleImage = null %}
{% set seoFacebookImage = null %}
{% set seoTwitterImage = null %}
{% if image %}
	{% set seoGoogleImage = craft.imager.transformImage(image, craft.jsonTransformsModule.getTransform('seo-google', '_seo')) %}
	{% set seoFacebookImage = craft.imager.transformImage(image, craft.jsonTransformsModule.getTransform('seo-facebook', '_seo')) %}
	{% set seoTwitterImage = craft.imager.transformImage(image, craft.jsonTransformsModule.getTransform('seo-twitter', '_seo')) %}
{% endif %}
{# === /calculated settings === #}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>{{ fullTitle }}</title>
<meta name="description" content="{{ description }}" />
<meta name="viewport" content="width=device-width, initial-scale=1">

{# Schema.org markup for Google+ #}
<meta itemprop="name" content="{{ fullTitle }}">
<meta itemprop="description" content="{{ description }}">
{% if seoGoogleImage %}<meta itemprop="image" content="{{ siteUrl }}{{ seoGoogleImage.url }}">{% endif %}

{# Twitter Card data #}
<meta name="twitter:card" content="summary_large_image">
{% if twitterHandle %}<meta name="twitter:site" content="{{ twitterHandle }}">{% endif %}
<meta name="twitter:title" content="{{ fullTitle }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:creator" content="@honchoagency">
{% if seoTwitterImage %}<meta name="twitter:image:src" content="{{ siteUrl }}{{ seoTwitterImage }}">{% endif %}

{# Open Graph data #}
<meta property="og:title" content="{{ fullTitle }}" />
<meta property="og:type" content="{{ type }}" />
<meta property="og:url" content="{{ url }}" />
{% if seoFacebookImage %}
	<meta property="og:image" content="{{ siteUrl }}{{ seoFacebookImage.url }}" />
	<meta property="og:image:width" content="{{ seoFacebookImage.width }}" />
	<meta property="og:image:height" content="{{ seoFacebookImage.height }}" />
{% endif %}
<meta property="og:description" content="{{ description }}" />
<meta property="og:site_name" content="{{ siteName }}" />
{% if facebookId %}<meta property="fb:admins" content="{{ facebookId }}" />{% endif %}

{# Geo data #}
{% if geo %}
	{% if geo.latitude and geo.longitude %}<meta name="geo.position" content="{{ geo.latitude }}; {{ geo.longitude }}">{% endif %}
	{% if geo.placename %}<meta name="geo.placename" content="{{ geo.placename }}">{% endif %}
	{% if geo.region %}<meta name="geo.region" content="{{ geo.region }}">{% endif %}
{% endif %}

{# Localisation stuff #}
<meta http-equiv="content-language" content="{{ craft.app.language }}">
